body {
  overflow: hidden;
  height: 100vh;
  position: relative;
  background: linear-gradient(0.25turn, #000, #050569, #000);
}

::-webkit-scrollbar {
  width: 13px;
  background: linear-gradient(0.25turn, #000007, #000);
}

::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
  background-clip: content-box;
  border: 3px solid black;
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
  background-clip: content-box;
  border: 3px solid black;
}

::-webkit-scrollbar-corner {
  background: linear-gradient(0.25turn, #000007, #000);
}

#root {
  height: 10vh;
}

.iconify {
  width: 50px;
  height: 50px;
}

.spin-animation {
  -webkit-animation: spin 2.2s cubic-bezier(0.5, 0, 1, 1) forwards;
  -moz-animation: spin 2.2s cubic-bezier(0.5, 0, 1, 1) forwards;
  -o-animation: spin 2.2s cubic-bezier(0.5, 0, 1, 1) forwards;
  animation: spin 2.2s cubic-bezier(0.5, 0, 1, 1) forwards;
}

.content {
  display: none;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.content .greeting {
  margin-left: 25vh;
}
.content .greeting p {
  font-size: 1.2em;
}
.content .greeting h1 {
  font-size: 3em;
}
.content .greeting h2 {
  font-size: 1.9em;
}
.content .greeting .text {
  margin-top: 2vh;
}
.content .photo-container .photo {
  max-width: 50vh;
  border-radius: 50%;
  margin-left: 10%;
}
.content .github,
.content .linkedin {
  position: fixed;
  width: 32px;
  height: 32px;
  bottom: 10vh;
  left: 21px;
  background-color: #02000e;
  box-shadow: 0 0 5px 5px #02000e;
}
.content .linkedin {
  bottom: 19vh;
}
.content .github:hover,
.content .linkedin:hover {
  width: 34px;
  height: 34px;
  transition: all 0.3s ease-in-out;
}
.content .line {
  position: fixed;
  width: 4px;
  background-color: #adadad;
  height: 30vh;
  bottom: 0;
  left: 35px;
  border-radius: 2px;
  border: none;
}
.content .line-2 {
  position: fixed;
  width: 4px;
  background-color: #adadad;
  height: 30vh;
  bottom: 0;
  right: 35px;
  border-radius: 2px;
  border: none;
}
.content .gmail-line {
  letter-spacing: 0;
  position: fixed;
  font-size: 10px;
  font-weight: 1000;
  width: 32px;
  margin-bottom: 3vh;
  bottom: 0;
  right: 25px;
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  user-select: none;
  cursor: pointer;
}
.content .copy-popUp,
.content .send-popUp {
  opacity: 0;
  width: 0;
  height: 0;
  user-select: none;
  align-content: center;
  transition: all 0.3s ease-in-out;
}
.content #copy-anim,
.content #send-anim {
  width: 150px;
  height: 50px;
  text-align: center;
  position: fixed;
  bottom: 10px;
  right: 50px;
  border: 2px solid #999;
  border-radius: 8%;
  font-size: 17px;
  opacity: 1;
  animation: copy_message 2.7s ease-in-out;
}

.nav-bar {
  position: fixed;
  z-index: 1;
  background: radial-gradient(#050569, #000);
  box-shadow: 0 5px 10px rgba(5, 23, 42, 0.99);
}
.nav-bar .inside-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 80px;
  z-index: 1000;
}
.nav-bar .inside-nav .logo {
  margin-left: 2.5vw;
}
.nav-bar .inside-nav .logo .anim-text {
  font-size: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bar .inside-nav .logo .anim-text p {
  font-size: 50px;
  margin: 0;
  user-select: none;
}
.nav-bar .inside-nav .logo .anim-text .circle {
  position: absolute;
  z-index: 2;
  background-color: #16f529;
  border-radius: 50%;
  width: 0;
  height: 0;
}
.nav-bar .inside-nav .navigation {
  display: none;
  justify-content: space-around;
  align-items: center;
  width: 40vw;
  font-size: 20px;
  margin-right: 30px;
}
.nav-bar .inside-nav .navigation span {
  width: 10vw;
}
.nav-bar .inside-nav .navigation span a {
  text-decoration: none;
  color: rgb(228, 231, 237);
  transition: 0.2s ease-in-out;
}
.nav-bar .inside-nav .navigation span a:hover {
  font-size: 22px;
  transition: 0.2s ease-in-out;
}
.nav-bar .inside-nav .navigation span .download-btn {
  width: auto;
  text-decoration: none;
  color: #16f529;
  background-color: transparent;
  border: 2px solid #16f529;
  font-size: 1em;
  padding: 5px;
  border-radius: 8px;
  transition: 0.2s ease-in-out;
}
.nav-bar .inside-nav .navigation span .download-btn:hover {
  transition: 0.2s ease-in-out;
}
.nav-bar .inside-nav .navigation .download-container {
  user-select: none;
}
.nav-bar .inside-nav .list {
  display: none;
  cursor: pointer;
  z-index: 1;
}
.nav-bar .inside-nav .list hr {
  width: 25px;
  height: 2px;
  background-color: rgb(228, 231, 237);
  border-radius: 3%;
  margin: 5px 20px 0;
  transition: all 0.3s ease;
  z-index: 1;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.circle-expand {
  animation: expand 2.5s linear forwards;
}

.circle-shrink {
  animation: shrink 2.2s linear forwards;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1080deg);
  }
}
@keyframes expand {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 4000px;
    height: 4000px;
  }
}
@keyframes shrink {
  0% {
    width: 4000px;
    height: 4000px;
  }
  100% {
    width: 0;
    height: 0;
  }
}
@keyframes copy_message {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@media only screen and (max-width: 1500px) {
  .photo {
    margin-right: 25vh;
  }
}
@media only screen and (max-width: 990px) {
  .nav-bar {
    max-width: 100%;
  }
  .nav-bar .inside-nav .navigation {
    width: 60vw;
  }
  .nav-bar .inside-nav .navigation span {
    width: 15vw;
  }
  .content {
    margin-top: 90px;
    flex-direction: column-reverse;
  }
  .content .greeting {
    margin: 0 17vw;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .content .greeting p {
    font-size: 1.2em;
    font-weight: 500;
  }
  .content .greeting h1 {
    font-size: 2.4em;
  }
  .content .greeting h2 {
    font-size: 1.5em;
  }
  .content .greeting .text {
    margin-top: 2vh;
  }
  .content .photo-container {
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .content .photo-container .photo {
    width: 65vw;
    margin: 2vh 0;
  }
}
@media only screen and (max-width: 480px) {
  html {
    max-width: 100%;
  }
  html body {
    overflow: hidden;
  }
  .nav-bar {
    max-width: 100%;
  }
  .nav-bar .inside-nav .navigation {
    display: none;
    position: absolute;
    z-index: 1;
    width: 0%;
    right: 0px;
    height: 92vh;
    top: 80px;
    background: #04045e;
    box-shadow: -3px 0px 5px rgba(5, 23, 42, 0.99);
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s ease-in-out;
    overflow-x: hidden;
    margin-right: 0;
    align-items: center;
  }
  .nav-bar .inside-nav .navigation span {
    width: auto;
  }
  .nav-bar .inside-nav .navigation span a {
    opacity: 0;
  }
  .nav-bar .inside-nav .list {
    display: none;
  }
  .nav-bar .inside-nav .menu-active {
    transform: translateX(0%);
    width: 35%;
    z-index: 1;
  }
  .nav-bar .inside-nav .tog .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .nav-bar .inside-nav .tog .line2 {
    opacity: 0;
  }
  .nav-bar .inside-nav .tog .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .content {
    max-width: 100%;
    flex-direction: column-reverse;
  }
  .content .greeting {
    margin: 0 17vw;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .content .greeting p {
    font-size: 0.9em;
    font-weight: 500;
  }
  .content .greeting h1 {
    font-size: 1.8em;
  }
  .content .greeting h2 {
    font-size: 1.1em;
  }
  .content .greeting .text {
    margin-top: 2vh;
  }
  .content .photo-container {
    object-fit: contain;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .content .photo-container .photo {
    width: 65vw;
    margin: 2vh 0;
  }
}