$font-color: rgb(228, 231, 237);

$bg-color: rgb(5, 30, 56);
$neon-color: #16f529;
body {
	overflow: hidden;
	height: 100vh;
	position: relative;
	background: linear-gradient(0.25turn, #000, #050569, #000);
}

::-webkit-scrollbar {
	width: 13px;
	background: linear-gradient(0.25turn, #000007, #000);
}

::-webkit-scrollbar-thumb {
	background: #999;
	border-radius: 10px;
	background-clip: content-box;
	border: 3px solid black;
}

::-webkit-scrollbar-thumb:hover {
	background: #777;
	background-clip: content-box;
	border: 3px solid black;
}
::-webkit-scrollbar-corner {
	background: linear-gradient(0.25turn, #000007, #000);
}

#root {
	height: 10vh;
}

.iconify {
	width: 50px;
	height: 50px;
}

.spin-animation {
	-webkit-animation: spin 2.2s cubic-bezier(0.5, 0, 1, 1) forwards;
	-moz-animation: spin 2.2s cubic-bezier(0.5, 0, 1, 1) forwards;
	-o-animation: spin 2.2s cubic-bezier(0.5, 0, 1, 1) forwards;
	animation: spin 2.2s cubic-bezier(0.5, 0, 1, 1) forwards;
}

.content {
	display: none;
	height: 100vh;
	align-items: center;
	justify-content: center;
	.greeting {
		flex: 1;
		margin-left: 25vh;
		p {
			font-size: 1.2em;
		}
		h1 {
			font-size: 3em;
		}
		h2 {
			font-size: 1.9em;
		}
		.text {
			margin-top: 2vh;
		}
	}
	.photo-container {
		flex: 1;
		.photo {
			max-width: 50vh;
			border-radius: 50%;
			margin-left: 10%;
			// margin-right: 25vh;
		}
	}

	.github,
	.linkedin {
		position: fixed;
		width: 32px;
		height: 32px;
		bottom: 10vh;
		left: 21px;
		background-color: #02000e;
		box-shadow: 0 0 5px 5px #02000e;
	}

	.linkedin {
		bottom: 19vh;
	}

	.github:hover,
	.linkedin:hover {
		width: 34px;
		height: 34px;
		transition: all 0.3s ease-in-out;
	}

	.line {
		position: fixed;
		width: 4px;
		background-color: #adadad;
		height: 30vh;
		bottom: 0;
		left: 35px;
		border-radius: 2px;
		border: none;
	}
	.line-2 {
		position: fixed;
		width: 4px;
		background-color: #adadad;
		height: 30vh;
		bottom: 0;
		right: 35px;
		border-radius: 2px;
		border: none;
	}
	.gmail-line {
		text-shadow: 0 0 2px #01ff00;
		letter-spacing: 0;
		position: fixed;
		font-size: 10px;
		font-weight: 900;
		width: 32px;
		margin-bottom: 3vh;
		bottom: 0;
		right: 25px;
		text-align: center;
		writing-mode: vertical-rl;
		text-orientation: upright;
		user-select: none;
		cursor: pointer;
	}

	.copy-popUp,
	.send-popUp {
		opacity: 0;
		width: 0;
		height: 0;
		user-select: none;
		align-content: center;
		transition: all 0.3s ease-in-out;
	}
	#copy-anim,
	#send-anim {
		width: 150px;
		height: 50px;
		text-align: center;
		position: fixed;
		bottom: 10px;
		right: 50px;
		border: 2px solid #999;
		border-radius: 8%;
		font-size: 17px;
		opacity: 1;
		animation: copy_message 2.7s ease-in-out;
	}
}

.nav-bar {
	position: fixed;
	z-index: 1;
	background: radial-gradient(#050569, #000);
	box-shadow: 0 5px 10px rgba(5, 23, 42, 0.99);
	.inside-nav {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		z-index: 1000;
		.logo {
			margin-left: 2.5vw;
			.anim-text {
				font-size: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				p {
					font-size: 50px;
					margin: 0;
				}
				.circle {
					position: absolute;
					z-index: 2;
					background-color: $neon-color;
					border-radius: 50%;
					width: 0;
					height: 0;
				}
			}
		}
		.navigation {
			display: none;
			justify-content: space-around;
			width: 40vw;
			font-size: 20px;
			a {
				text-decoration: none;
				color: $font-color;
				transition: 0.2s ease-in-out;
			}
			a:hover {
				font-size: 22px;
				transition: 0.2s ease-in-out;
			}
			button {
				color: $neon-color;
				background-color: transparent;
				border: 2px solid $neon-color;
				font-size: 1em;
				padding: 5px;
				border-radius: 8px;
				.download-btn {
					text-decoration: none;
					color: $neon-color;
				}
			}
		}
	}
}

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.start-animation {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
}

.circle-expand {
	animation: expand 2.5s linear forwards;
}

.circle-shrink {
	animation: shrink 2.2s linear forwards;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(1080deg);
	}
}

@keyframes expand {
	0% {
		width: 0;
		height: 0;
	}
	100% {
		width: 4000px;
		height: 4000px;
	}
}

@keyframes shrink {
	0% {
		width: 4000px;
		height: 4000px;
	}
	100% {
		width: 0;
		height: 0;
	}
}

@keyframes copy_message {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@media only screen and (max-width: 1500px)  {
	.photo{
		margin-right: 25vh;
	}
}
@media only screen and (max-width: 480px) {
	html{
		max-width: 100%;
		body{
			overflow: hidden;
		}

	}
	.nav-bar{
		max-width: 100%;
		.inside-nav{
			.navigation{
				display: none;
			}
		}
	}
	.content{
		max-width: 100%;
		flex-direction: column-reverse;
		.greeting{
			margin: 0 17vw;
			text-align: center;
			align-items: center;
			justify-content: center;
		}
		.photo-container{
			align-items: center;
			justify-content: center;
			.photo{
				width: 70vw;
				margin:0;
				margin-top: 10vh;
				margin-bottom: 2vh;
			}
		}
	}
}