body {
  overflow: hidden;
  height: 100vh;
  position: relative;
  background-color: rgb(5, 30, 56);
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
  background-clip: content-box;
  border: 3px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
  background-clip: content-box;
  border: 3px solid transparent;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

#root {
  height: 10vh;
}

.iconify {
  width: 50px;
  height: 50px;
}

.spin-animation {
  -webkit-animation: spin 2.2s cubic-bezier(0.5, 0, 1, 1) forwards;
  -moz-animation: spin 2.2s cubic-bezier(0.5, 0, 1, 1) forwards;
  -o-animation: spin 2.2s cubic-bezier(0.5, 0, 1, 1) forwards;
  animation: spin 2.2s cubic-bezier(0.5, 0, 1, 1) forwards;
}

.content {
  display: none;
  height: 100vh;
  align-items: center;
}
.content .greeting {
  flex: 1;
  margin-left: 25vh;
}
.content .greeting p {
  font-size: 1.2em;
}
.content .greeting h1 {
  font-size: 3em;
}
.content .greeting h2 {
  font-size: 1.9em;
}
.content .greeting .text {
  margin-top: 2vh;
}
.content .photo-container {
  flex: 1;
}
.content .photo-container .photo {
  max-width: 50vh;
  border-radius: 50%;
  margin-left: 10%;
  margin-right: 25vh;
}
.content .github {
  position: fixed;
  width: 32px;
  height: 32px;
  bottom: 10vh;
  left: 21px;
  background-color: rgb(5, 30, 56);
  box-shadow: 0 0 5px 5px rgb(5, 30, 56);
}
.content .linkedin {
  position: fixed;
  width: 32px;
  height: 32px;
  bottom: 19vh;
  left: 21px;
  background-color: rgb(5, 30, 56);
  box-shadow: 0 0 5px 5px rgb(5, 30, 56);
}
.content .line {
  position: fixed;
  width: 4px;
  background-color: #adadad;
  height: 30vh;
  bottom: 0;
  left: 35px;
  border-radius: 2px;
  border: none;
}
.content .line-2 {
  position: fixed;
  width: 4px;
  background-color: #adadad;
  height: 30vh;
  bottom: 0;
  right: 35px;
  border-radius: 2px;
  border: none;
}
.content .gmail-line {
  text-shadow: 0 0 2px #01ff00;
  letter-spacing: 0;
  position: fixed;
  font-size: 1em;
  font-weight: 700;
  width: 32px;
  margin-bottom: 3vh;
  bottom: 0;
  right: 25px;
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  user-select: none;
  cursor: pointer;
}

.nav-bar {
  position: fixed;
  z-index: 1;
  background-color: rgb(5, 30, 56);
  box-shadow: 0 5px 10px rgba(5, 23, 42, 0.99);
}
.nav-bar .inside-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
.nav-bar .inside-nav .logo {
  margin-left: 2.5vw;
}
.nav-bar .inside-nav .logo .anim-text {
  font-size: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bar .inside-nav .logo .anim-text p {
  font-size: 50px;
  margin: 0;
}
.nav-bar .inside-nav .logo .anim-text .circle {
  position: absolute;
  z-index: 2;
  background-color: #16F529;
  border-radius: 50%;
  width: 0;
  height: 0;
}
.nav-bar .inside-nav .navigation {
  display: none;
  justify-content: space-around;
  width: 40vw;
  font-size: 20px;
}
.nav-bar .inside-nav .navigation button {
  color: #16F529;
  background-color: transparent;
  border: 2px solid #16F529;
  font-size: 1em;
  padding: 5px;
  border-radius: 8px;
}

.start-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.circle-expand {
  animation: expand 2.5s linear forwards;
}

.circle-shrink {
  animation: shrink 2.2s linear forwards;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1080deg);
  }
}
@keyframes expand {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 4000px;
    height: 4000px;
  }
}
@keyframes shrink {
  0% {
    width: 4000px;
    height: 4000px;
  }
  100% {
    width: 0;
    height: 0;
  }
}