.projects-root {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: rgb(228, 231, 237);
}
.projects-root hr {
  width: 50vw;
  height: 1px;
  background-color: #adadad;
  border: 0;
}
.projects-root .projects {
  padding: 6vw 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.projects-root .projects h2 {
  padding-left: 10vh;
  padding-bottom: 3vw;
}
.projects-root .projects .crypto,
.projects-root .projects .numpaz,
.projects-root .projects .pair {
  display: flex;
  padding: 10vh;
}
.projects-root .projects .crypto .img-container,
.projects-root .projects .numpaz .img-container,
.projects-root .projects .pair .img-container {
  width: 35vw;
  height: auto;
  aspect-ratio: 16/9;
  display: block;
  max-width: 100%;
}
.projects-root .projects .crypto .img-container .img,
.projects-root .projects .numpaz .img-container .img,
.projects-root .projects .pair .img-container .img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.projects-root .projects .crypto .github,
.projects-root .projects .numpaz .github,
.projects-root .projects .pair .github {
  width: 32px;
  padding-right: 7vh;
}
.projects-root .projects .crypto .text1,
.projects-root .projects .numpaz .text1,
.projects-root .projects .pair .text1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5vh;
  text-align: right;
}
.projects-root .projects .crypto .text1 h3,
.projects-root .projects .numpaz .text1 h3,
.projects-root .projects .pair .text1 h3 {
  font-size: 20px;
}
.projects-root .projects .crypto .text1 h4,
.projects-root .projects .numpaz .text1 h4,
.projects-root .projects .pair .text1 h4 {
  background-color: rgb(3, 48, 94);
  width: 20vw;
  margin: 2.5vh 0;
  font-size: 18px;
  font-weight: 500;
  padding: 1vh 2vh;
  box-shadow: 3px 4px 3px 1px rgb(1, 18, 36);
}
.projects-root .projects .crypto .text1 span,
.projects-root .projects .numpaz .text1 span,
.projects-root .projects .pair .text1 span {
  display: flex;
  justify-content: end;
}
.projects-root .projects .crypto .text2,
.projects-root .projects .numpaz .text2,
.projects-root .projects .pair .text2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 5vh;
  text-align: left;
}
.projects-root .projects .crypto .text2 h3,
.projects-root .projects .numpaz .text2 h3,
.projects-root .projects .pair .text2 h3 {
  font-size: 20px;
}
.projects-root .projects .crypto .text2 h4,
.projects-root .projects .numpaz .text2 h4,
.projects-root .projects .pair .text2 h4 {
  background-color: rgb(3, 48, 94);
  width: 20vw;
  margin: 2.5vh 0;
  font-size: 18px;
  font-weight: 500;
  padding: 1vh 2vh;
  box-shadow: -3px 4px 3px 1px rgb(1, 18, 36);
}
.projects-root .projects .crypto .text2 span,
.projects-root .projects .numpaz .text2 span,
.projects-root .projects .pair .text2 span {
  display: flex;
  justify-content: start;
}
.projects-root .projects .crypto .text3,
.projects-root .projects .numpaz .text3,
.projects-root .projects .pair .text3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5vh;
  text-align: right;
}
.projects-root .projects .crypto .text3 h3,
.projects-root .projects .numpaz .text3 h3,
.projects-root .projects .pair .text3 h3 {
  font-size: 20px;
}
.projects-root .projects .crypto .text3 h4,
.projects-root .projects .numpaz .text3 h4,
.projects-root .projects .pair .text3 h4 {
  background-color: rgb(3, 48, 94);
  width: 20vw;
  margin: 2.5vh 0;
  font-size: 18px;
  font-weight: 500;
  padding: 1vh 2vh;
  box-shadow: 3px 4px 3px 1px rgb(1, 18, 36);
}
.projects-root .projects .crypto .text3 span,
.projects-root .projects .numpaz .text3 span,
.projects-root .projects .pair .text3 span {
  display: flex;
  justify-content: end;
}
.projects-root .projects .crypto .try,
.projects-root .projects .numpaz .try,
.projects-root .projects .pair .try {
  background-color: transparent;
  border: #adadad 3px solid;
  font-size: 1em;
  border-radius: 0.3em;
  color: rgb(228, 231, 237);
  padding: 0.3em 0.7em;
  margin-left: 17px;
  text-decoration: none;
  color: rgb(228, 231, 237);
  font-weight: 600;
}
.projects-root .projects .crypto .try:hover,
.projects-root .projects .numpaz .try:hover,
.projects-root .projects .pair .try:hover {
  background-color: hsla(0, 0%, 100%, 0.096);
  transition: 0.2s ease-in-out;
}
.projects-root .projects .crypto .numpazPhoto,
.projects-root .projects .numpaz .numpazPhoto,
.projects-root .projects .pair .numpazPhoto {
  padding-right: 0;
  padding-left: 10vh;
}

@media only screen and (max-width: 990px) {
  .projects-root {
    max-width: 100%;
    align-items: center;
    margin-top: 0;
  }
  .projects-root .projects h2 {
    padding: 5vw 0;
  }
  .projects-root .projects .crypto,
  .projects-root .projects .pair {
    flex-direction: column;
    padding: 5vw 10vw;
    align-items: center;
  }
  .projects-root .projects .crypto .img-container,
  .projects-root .projects .pair .img-container {
    width: 62vw;
  }
  .projects-root .projects .crypto .img-container .img,
  .projects-root .projects .pair .img-container .img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .projects-root .projects .crypto .text1, .projects-root .projects .crypto .text3,
  .projects-root .projects .pair .text1,
  .projects-root .projects .pair .text3 {
    text-align: center;
    align-items: center;
    padding: 0;
    width: 55vw;
  }
  .projects-root .projects .crypto .text1 h3, .projects-root .projects .crypto .text3 h3,
  .projects-root .projects .pair .text1 h3,
  .projects-root .projects .pair .text3 h3 {
    margin-top: 35px;
  }
  .projects-root .projects .crypto .text1 h4, .projects-root .projects .crypto .text3 h4,
  .projects-root .projects .pair .text1 h4,
  .projects-root .projects .pair .text3 h4 {
    width: 55vw;
  }
  .projects-root .projects .numpaz {
    flex-direction: column-reverse;
    padding: 10vw;
  }
  .projects-root .projects .numpaz .img-container {
    width: 65vw;
    padding-left: 0;
  }
  .projects-root .projects .numpaz .img-container .img {
    padding-left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .projects-root .projects .numpaz .text2 {
    text-align: center;
    align-items: center;
    padding: 0;
  }
  .projects-root .projects .numpaz .text2 h3 {
    margin-top: 35px;
  }
  .projects-root .projects .numpaz .text2 h4 {
    width: 55vw;
  }
}