$font-color: rgb(228, 231, 237);

.projects-root {
	display: flex;
	align-items: center;
	flex-direction: column;
	color: $font-color;
	margin-top: 10vw;
	hr {
		width: 50vw;
		height: 1px;
		background-color: #adadad;
		border: 0;
	}
	.projects {
		padding: 6vw 0;
		display: flex;
		align-items: center;
		flex-direction: column;
		h2 {
			padding-left: 10vh;
			padding-bottom: 3vw;
		}
		.crypto,
		.numpaz,
		.pair {	
			display: flex;
			padding: 10vh;
			.img{
				width: 35vw;
				height: auto;
				aspect-ratio: 16/9;
				display: block;
				max-width: 100%;
			}
			.github {
				width: 32px;
				padding-right: 7vh;

			}
			.text1 {
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding-left: 5vh;
				text-align: right;
				h3 {
					font-size: 20px;
				}
				h4 {
					// background-color: rgb(3, 20, 37);
					background-color: rgb(3, 48, 94);
					width: 20vw;
					margin: 2.5vh 0;
					font-size: 18px;
					font-weight: 500;
					padding: 1vh 2vh;
					box-shadow: 3px 4px 3px 1px rgb(1, 18, 36);
				}
				span {
					display: flex;
					justify-content: end;
				}
			}
			.text2 {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				padding-right: 5vh;
				text-align: left;
				h3 {
					font-size: 20px;
				}
				h4 {
					background-color: rgb(3, 48, 94);
					width: 20vw;
					margin: 2.5vh 0;
					font-size: 18px;
					font-weight: 500;
					padding: 1vh 2vh;
					box-shadow: -3px 4px 3px 1px rgb(1, 18, 36);
				}
				span {
					display: flex;
					justify-content: start;
				}
			}
			.text3 {
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding-left: 5vh;
				text-align: right;
				h3 {
					font-size: 20px;
				}
				h4 {
					background-color: rgb(3, 48, 94);
					width: 20vw;
					margin: 2.5vh 0;
					font-size: 18px;
					font-weight: 500;
					padding: 1vh 2vh;
					box-shadow: 3px 4px 3px 1px rgb(1, 18, 36);
				}
				span {
					display: flex;
					justify-content: end;
				}
			}

			.try {
				background-color: transparent;
				border: #adadad 3px solid;
				font-size: 1em;
				border-radius: 0.3em;
				color: $font-color;
				padding: 0.3em 0.7em;
				margin-left: 17px;
				text-decoration: none;
				color: $font-color;
				font-weight: 600;
			}
			.try:hover {
				background-color: hsla(0, 0%, 100%, 0.096);
				transition: 0.2s ease-in-out;
			}
			.numpazPhoto {
				padding-right: 0;
				padding-left: 10vh;
			}
		}
	}
}

@media only screen and (max-width: 480px) {
	.projects-root{
		max-width: 100%;
		align-items: center;
		hr{
			margin-top: 10vh;
		}
		.projects{
			h2{
				padding: 7vw 0;
			}
			.crypto,
			.pair{
				flex-direction: column;
				padding: 10vw;
				align-items: center;
				.img{
					width: 62vw; 
				}
				.text1, .text3{
					text-align: center;
					align-items: center;
					padding: 0;
					width: 55vw;
					h3{
						margin-top: 35px;
					}
					h4{
						width: 55vw;
					}
				}
		
			}
			.numpaz{
				flex-direction: column-reverse;
				padding: 10vw;
				.img{
					width: 65vw;
					padding-left: 0;
				}
				.text2{
					text-align: center;
					align-items: center;
					padding: 0;
					h3{
						margin-top: 35px;
					}
					h4{
						width: 55vw;
					}
				}
			}
		}
	}
	

}